## DB connection
 - jupyter notebook에서 sql을 사용할 수 있는 extension을 불러옵니다.
 - 해당 DB서버의 username:password@host:port/database 를 입력하세요

In [1]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://username:password@host:port/database

In [3]:
%sql select * from information_schema.tables where table_schema = 'de'

8 rows affected.

[('synthea_1000', 'de', 'visit_occurrence', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('synthea_1000', 'de', 'drug_exposure', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('synthea_1000', 'de', 'concept', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('synthea_1000', 'de', 'person', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('synthea_1000', 'de', 'drug_pair', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('synthea_1000', 'de', 'clinical_note', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('synthea_1000', 'de', 'death', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('synthea_1000', 'de', 'condition_occurrence', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [ ]:
%%sql person << 

select * from person;

In [12]:
type(person)

sql.run.ResultSet

In [14]:
person = person.DataFrame()

person.head()

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id
0,402435,8532,1997,4,18,1997-04-18,8527,0,None,None,None,a434e3bf-7720-4612-8d18-e274e199f4fd,F,0,white,0,hispanic,0
1,1022983,8507,1950,2,26,1950-02-26,8527,0,None,None,None,e0b46681-1ccf-488e-9766-bbdb1fe53af2,M,0,white,0,hispanic,0
2,1657794,8532,1937,12,10,1937-12-10,8527,0,None,None,None,f6d7bf9f-0881-4142-9dfa-67fa213dd322,F,0,white,0,hispanic,0
3,2845932,8507,1987,5,26,1987-05-26,8515,0,None,None,None,1387a5c0-159c-4dd2-9ef8-4e7f47a6d288,M,0,asian,0,hispanic,0
4,2693038,8532,1959,2,7,1959-02-07,8527,0,None,None,None,8dea9575-d5cc-4a50-ab5e-a8c0de735fcf,F,0,white,0,nonhispanic,0

In [15]:
%%sql tables << 

select table_name from information_schema.tables where table_schema = 'de'

 * postgresql://walker101:***@49.50.167.136:5432/synthea_1000
8 rows affected.
Returning data to local variable tables

In [23]:
# 필요한 테이블명 리스트를 받아와 저장합니다.
table_list = [x[0] for x in tables.DataFrame().values]

## Tables to DataFrame by psycopg2
 - psycopg2 패키지를 이용하여, 확인된 테이블명으로 sql을 작성하여 Table을 DataFrame으로 받아옵니다.
 - 각 table_name을 key, table을 value로 dictionary에 저장한 뒤, 개별 추출을 통해 pickle로 저장합니다.
 
```python
import pandas.io.sql as psql
import psycopg2 as pg

with pg.connect(database='db_name',
                user='user_name',
                host='host_name',
                port=5432) as conn:
  sql = 'SELECT * FROM foo'
  df = psql.read_sql(sql, conn)
```

In [25]:
table_list

['visit_occurrence',
 'drug_exposure',
 'concept',
 'person',
 'drug_pair',
 'clinical_note',
 'death',
 'condition_occurrence']

In [29]:
import pandas.io.sql as psql
import psycopg2 as pg


database = 'database'
user = 'username'
password = 'password'
host = 'host'
port = port

table_dict = {}

with pg.connect(database=database,
                user=user,
                password=password,
                host=host,
                port=port) as conn:
    
    for table in table_list:
        sql = f'select * from {table}'
        df = psql.read_sql(sql, conn)
        table_dict[table] = df

## Save Tables by pickle in Local
 - 현재 경로 속 data폴더에 각 DataFrame들을 table로 저장합니다.
 - os모듈을 이용하여 작성된 `search_path_walk`라는 함수를 통해, 해당 경로에 잘 저장되었는지 확인합니다.

In [36]:
import pickle
import os

data_path = './data/'

for df in table_dict:
    if not os.path.exists(data_path):
        os.makedirs(data_path)
    pickle.dump(table_dict[df], open(f'./data/{df}.p', 'wb'))

In [34]:
def search_path_walk(path):
    """
    * path : 문자열로 상대 혹은 절대경로/ 를 입력하면 하위 폴더 및 존재하는 파일들을 탐색합니다.
     - ex> search_path_walk('./') search_path_walk('./data/')
    """
    return [ os.path.join(dirs, file) for dirs, _,files in os.walk(path) for file in files]

In [37]:
search_path_walk('./data/')

['./data/clinical_note.p',
 './data/concept.p',
 './data/condition_occurrence.p',
 './data/death.p',
 './data/drug_exposure.p',
 './data/drug_pair.p',
 './data/person.p',
 './data/visit_occurrence.p']